<%-include('includes/head.ejs')%>

  <body>
    <section
      class="flex bg-gray-800 items-center h-screen p-16 dark:bg-gray-700"
    >
      <div class="container items-center text-white flex flex-col">
        <div class="flex flex-col gap-6 max-w-md items-center">
          <h2 class="text-white font-extrabold text-9xl dark:text-gray-100">
            <span class="sr-only">Error</span>404
          </h2>
          <p class="text-2xl md:text-3xl dark:text-gray-300">
            Sorry, we couldn't find this page.
          </p>
          <a
            href="/home"
            class="px-8 py-4 text-xl font-semibold rounded bg-purple-600 text-gray-50 hover:text-gray-200"
            >Back to home</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
