<%-include('includes/head.ejs')%>
  <body>
    
    <%-include('includes/navbar.ejs')%>

     <!-- Sidebar -->
   

    <!-- Hero Section -->
    <div class="bg-gray-800 text-white w-auto h-screen">
      <!-- Hero content goes here -->
      <div class="">
        <div class="p-4 text-center mb-4">
          <h1 class="text-4xl font-bold">tiltle</h1>
          <p class="text-gray-600">paragraph</p>
          <h1>heading</h1>
        </div>
      </div>
    </div>
  </body>
</html>
