<%-include('includes/head.ejs')%>
  <body id="main">
    <%-include('includes/navbar.ejs')%> <%-include('includes/sidebar.ejs')%>

    <!-- Hero Section -->
    <div class="md:ml-56  font-sans bg-[#EFEFEF] max-w-full p-8">
      <div class="grid  grid-cols-1 md:grid-cols-5 gap-1">
         <div class="col-span-4">
          <section class="mb-10 ">
            <div class="h-24 border-[#b5b5b5] border w-full m-auto flex justify-center items-center">
              Advertisment
            
            </div>
            <h1 class="text-[48px] mb-8"> Preposition "ON"</h1>
      
            <ul class="flex justify-between  md:mr-20">
              <li
                class="text-xl font-medium text-white rounded-[8px] bg-[#006A57]  p-4"
              >
                <a href="#">previous</a>
              </li>
              <li
                class="text-xl font-medium text-white rounded-[8px] bg-[#006A57]  p-4"
              >
                <a href="#">next</a>
              </li>
            </ul>
            <div class="mt-8">
              <p class="text-[28px] leading-loose tracking-wider font-custome p-4">
                The preposition ‘ON‘ is generally used to talk about specific days, dates, or occasions.
              </p>
            </div>
            <div>
              <h1 class="text-[48px] my-8 bg-[#006a5717] text-[#006A57] rounded">
                Examples
              </h1>
              <ul class="text-[24px] flex flex-col gap-5">
                <li>What are you doing on Sunday?</li>
                <li>I will buy clothes for all of you on Diwali.</li>
              </ul>
            </div>
            
          </section>
          
         </div>
          <div class=" p-3 flex justify-center items-center border-[#b5b5b5] border bg-[#dddddd]">
                Advertisment
          </div>
      </div>
    </div>
  
